*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --rosita: #fef2f2 ;
    --naranja: #F26440 ;
    --verde: #286f6c ;
    --gray: #adadad ;
    --blanco: #ffffff;
    --hueso: #F9F5F2;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 75px;
    box-shadow: 0 10px 20px 10px #ddd;
    background-color: var(--rosita);
}
nav > div > img{
    width: 45px;
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul{
    background-color: var(--rosita);
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 75px );
    top: 75px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 20px 10px #ddd;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
    height: 65%; 
    justify-content: space-around;
}

nav ul>li{
    border: 2px solid transparent;
}

nav ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid darkcyan;
}

.contenedor-layout{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "title title title title"
                         "social photo photo photo"
                         "about about about about"
                         "habilities habilities habilities habilities"
                         "experience experience experience experience"
                         "portafolio portafolio portafolio portafolio"
                         "contact contact contact contact";
    grid-template-columns: 25% auto auto auto;
    grid-template-rows: auto 350px auto 250px 330px 500px 200px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 32px;
    color: var(--verde);
}

p{
    font-size: 16px;
    color: var(--gray);
}
.contenedor-layout div{
    /* border: 2px solid lightgray; */
}

.title{
    grid-area: title;
    background-color: var(--rosita);
    padding: 0 0 30px 15px;
}

.social{
    grid-area: social;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--rosita);
}

.social div{
border: lightblue solid 2px;
border-radius: 50%;
height: 70px;
width: 70px;
background-color: orangered;
}

.social a{
    display: flex;
    justify-content: center;
    border: var(--blanco) solid 5px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: var(--naranja);
    vertical-align: middle;
}

.social a:hover{
    background-color: var(--verde);
}

.photo{
    background-color: var(--rosita);
    grid-area: photo;
    padding-top: 20px;
    padding-left: 20px;
}

.photo img{
    height: 330px;
    
}

.about{
    margin: 20px;
    grid-area: about; 
}

.download{
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--naranja);
    border-radius: 29px;
    text-decoration: none;
    text-align: center;
    color: var(--blanco);
}

.download:hover{
    background-color: var(--verde);
    color: white;
}

.habilities{
    grid-area: habilities;
}

.experience{
    grid-area: experience;
}

.portafolio{
    grid-area: portafolio;
}

.contact{
    grid-area: contact;
}


@media screen and ( min-width:785px ) {
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        border-radius: 0 0 0 0;
        box-shadow: 0 0 0 0;
    }
}

