*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 75px;
    box-shadow: 0 10px 20px 10px #ddd;
}
nav > div > img{
    width: 45px;
}

input#menu-hamburguesa{
    visibility: hidden;
    
}

input#menu-hamburguesa ~ ul{
    background-color: thistle;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 75px );
    top: 75px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 20px 10px #ddd;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
    height: 65%; 
    justify-content: space-around;
}

nav ul>li{
    
    border: 2px solid transparent;
}

nav ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid darkcyan;
}

.contenedor-layout{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "title title title title"
                         "social photo photo photo"
                         "about about about about"
                         "habilities habilities habilities habilities"
                         "experience experience experience experience"
                         "portafolio portafolio portafolio portafolio"
                         "contact contact contact contact";
    grid-template-columns: 25% auto auto auto;
    grid-template-rows: auto 330px auto 250px 330px 500px 200px;
    gap: .5rem;
    padding: .5rem;
}

h1{
    font-size: 50px;
    text-align: left;
}

.contenedor-layout div{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: .5rem;
}

.title{
    grid-area: title;
}

.social{
    grid-area: social;
}

.photo{
    grid-area: photo;
}

.about{
    grid-area: about;
}

.habilities{
    grid-area: habilities;
}

.experience{
    grid-area: experience;
}

.portafolio{
    grid-area: portafolio;
}

.contact{
    grid-area: contact;
}


@media screen and ( min-width:600px ) {
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        border-radius: 0 0 0 0;
        box-shadow: 0 0 0 0;
    }
}

