*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 75px;
    box-shadow: 0 10px 20px 10px #ddd;
}
nav > div > img{
    width: 45px;
}

input#menu-hamburguesa{
    visibility: hidden;
    
}

input#menu-hamburguesa ~ ul{
    background-color: thistle;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 75px );
    top: 75px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 20px 10px #ddd;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
    height: 65%; 
    justify-content: space-around;
}

nav ul>li{
    
    border: 2px solid transparent;
}

nav ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid darkcyan;
}

h1{ text-align: center;

}


@media screen and ( min-width:600px ) {
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        border-radius: 0 0 0 0;
        box-shadow: 0 0 0 0;
    }
}

